#boards {
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1{
    display: flex;
    justify-content: center
  }
  // #board-cards {
  //   width: 100px;
  //   height: 100px;
  // }
}